<li><a href="#"> <%= current_user.name %> </a></li>
<li><a href="<%= edit_user_registration_path %>"><%= t("web-app-theme.profile", :default => "Profile") %></a></li>
<li><a href="<%= destroy_user_session_path %>" class="logout"><%= t("web-app-theme.logout", :default => "Logout") %></a></li>