<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>E-mail:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Remember me:</b>
  <%= @customer.remember_me %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
