<!DOCTYPE html>
<html>
<head>
  <title>Holidays Reminder</title>
  <%= stylesheet_link_tag 'web_app_theme' %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Holidays Reminder</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
	      	<% if user_signed_in? -%>
              <%= render :partial => 'devise/shared/logged_in_user' %>
            <% else -%>
              <%= render :partial => 'devise/shared/unlogged_in_user' %>
            <% end -%>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"> 
	        <li class="<%= controller.controller_path == 'home' ? 'active' : '' %>"><a href="<%= root_path %>">Home</a></li>
	        <% if user_signed_in? -%>
			<li class="<%= controller.controller_path == 'customers' ? 'active' : '' %>"><a href="<%= customers_path %>">Customers</a></li>
			<li class="<%= controller.controller_path == 'holidays' ? 'active' : '' %>"><a href="<%= holidays_path %>">Holidays</a></li>
			<% end %>
		</ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Holidays Reminder.</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>
